.balance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.stat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.transaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}